.container-article {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px;
}

.grid-container {
    background-color:rgb(250, 252, 252);
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
  
}

.grid-article {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-bottom: ridge;
}

.grid-article p {
    font-size: medium;
}

.grid-article a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px; 
}

.info > p{
    font-size:medium;
}

.grid-article img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    background-color: rgb(204, 220, 235);
    border-radius: 5px;
}
/**/


label.cantidad-label {
    font-size: 2px; 
    font-weight: bold; 
}

.input-cantidad {
    width: 50px; 
    padding: 8px;
    margin-right: 10px;
}


/**/
.pagination {
    text-align: center;
    margin-top: 10px;
}

.pagination button {
    background: none;
    background-color: rgb(229, 232, 235);
    border: 1px rgb(88, 85, 85);
    width: 30px;
    height: 35px;
    padding: 5px 10px;
    margin: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination .active {
    background-color:#8ca7a7
}

.pagination button:hover {
    background-color:#8ca7a7
}
/**/
.filtros {
    flex: 1;
    margin-right: 20px; 
    border: 1px dotted slategray;
    padding: 10px;
    margin: 10px 0;
    background-color: #f0f0f0;
}

.filtros h2 {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.filtros label {
    display: block;
    margin-bottom: 5px;
}

.filtros input[type="checkbox"] {
    margin-right: 5px;
}


/**/
body{
    margin: 0%;
    height: 100%;
    width: 100%;
}

#divPrincipal {
    flex-wrap: nowrap;
}

/* CSS para el menu superior */ 
#ContenedorMenu{
    width: 100%;
}

#imgLogo{
    width: 60%;
}

#ContenedorMenu{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul.ajustarMenuBarra {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2445ff;
}
  
ul.ajustarMenuBarra li {
    float: left;
    padding-left: 3%;
}
  
ul.ajustarMenuBarra li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.ajustarMenuBarra li a:hover{
    color: #000000;
}

ul.ajustarMenuBarra li#botonImg {
    float: left;
}

ul.ajustarMenuBarra li:not(#botonImg){
    padding-top: 15px;
}

/* Fin del CSS para el menu superior */ 
  

/* CSS para ajustar la pagina dado el tamaño de la ventana */ 

@media screen and (max-width: 1000px) {
    ul.ajustarMenuBarra li#botonImg, ul.ajustarMenuBarra li {
        float: none;
    }

    #ContenedorInferior{
        flex-direction: column;
        align-items: center;
    }

    #divContenedorInfo{
        flex-direction: column;
        align-items: center;
    }
}
/* Fin del CSS para ajustar la pagina dado el tamaño de la ventana */ 

/* CSS para el menu inferior */ 

#ContenedorInferior{
    background-color: #2445ff;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ContenedorInferior div{
    padding-right: 13%;
}

#ContenedorInferior h2{
    color: #8ca7a7;
}

#ContenedorInferior li, #ContenedorInferior li a{
    list-style-type: none;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

#redesSociales img{
    width: 50px;
    height: 50px;
}

#ContenedorInferior li a:hover{
    color: #000000;
}

/* Fin del CSS para el menu inferior */ 

/* CSS para el contenido principal */ 

#divContenedorInfo{
    width: 95%;
    display: flex;
    padding: 2%;
}

#divTablaMascotas{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tablaMascotasAgregadas, tr, th{
    border: 2px solid #000000;
    border-collapse: collapse;
    border-radius: 10px;
}

#tablaMascotasAgregadas{
    width: 70%;
}

#divInfoGeneral{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#divArticulos{
    width:50%;
    border: 1px solid #000000;
}

#encabezadoTabla{
    color: #fa6603;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#tablaMascotasAgregadas th:not(#encabezadoTabla){
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}


/**/
/* Estilos generales */
.container-article {
    display: flex;
    flex-wrap: wrap;
}

.filtros {
    flex: 1;
    margin-right: 20px; /* Espacio entre filtros y artículos */
}

.articulos {
    flex: 1; /* O ajusta según tus necesidades */
}


/* Media Query para cambiar a una columna en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .container-article {
        flex-direction: column;
    }

    .filtros,
    .articulos {
        flex: 1; /* O ajusta según tus necesidades */
        margin-right: 0;
    }
}

/**/
/* Fin del CSS para el contenido principal */ 